{% block custom_place_widget %}

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-location-dot"></i></span>
        {{ block('choice_widget')}}
    </div>





{% endblock %}