{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="row">
        <h1> Add a job announcement</h1>
    </div>
    <div class="row">
        {{ form(form) }}
    </div>
{% endblock %}
   {% block javascripts %}
       {{ parent() }}
       <script>
           var $techno = $('.techno');
           $techno.change(function (){
               var data = $techno.val();
               $.ajax({
                   url:"{{ path('app_ajax') }}",
                   type: "POST",
                   data: { 'techno' : data },
                   success: function (reponse){
                       $('.backOrFront').val(reponse.backOrFront)
                   }
               })
           })
       </script>
   {% endblock %}